@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 10px;
}
header img {
  width: 160px;
}

.Localisation {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #353535;
  background-color: #eaeaea;
}
.Localisation i {
  padding-right: 15px;
}
.Localisation p {
  font-weight: bold;
}

.Explore {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.Explore h1 {
  font-size: x-large;
  padding-top: 20px;
}
.Explore p {
  color: #353535;
  margin-top: -5px;
}
.Explore h1, .Explore p {
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
}
.Explore .Btn-Explore {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 210px;
  height: 51px;
  color: white;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  margin: auto;
}

.Fonctionnement {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
.Fonctionnement .CaseFonctionnement {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  width: 90%;
  height: 75px;
  border-radius: 15px;
  box-shadow: 0px 12px 10px -5px #eaeaea;
  margin-bottom: 25px;
  margin-left: 2%;
}
.Fonctionnement .CaseFonctionnement .TexteCase {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
}
.Fonctionnement .CaseFonctionnement .TexteCase h3 {
  margin-left: -10px;
  text-align: center;
  background-color: #9356DC;
  border-radius: 20px;
  width: 23px;
  height: 22px;
  color: white;
}
.Fonctionnement .CaseFonctionnement .TexteCase .IconFonctionnement {
  padding-left: 7%;
  padding-right: 7%;
}
.Fonctionnement .CaseFonctionnement1 {
  display: flex;
  align-items: center;
  background-color: rgba(147, 86, 220, 0.15);
  width: 90%;
  height: 75px;
  border-radius: 15px;
  box-shadow: 0px 12px 10px -5px #eaeaea;
  margin-bottom: 25px;
  margin-left: 2%;
}
.Fonctionnement .CaseFonctionnement1 .TexteCase {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
}
.Fonctionnement .CaseFonctionnement1 .TexteCase h3 {
  margin-left: -10px;
  text-align: center;
  background-color: #9356DC;
  border-radius: 20px;
  width: 23px;
  height: 22px;
  color: white;
}
.Fonctionnement .CaseFonctionnement1 .TexteCase .IconFonctionnement {
  padding-left: 7%;
  padding-right: 7%;
  color: #9356DC;
}

.Restaurants {
  background-color: #f6f6f6;
}
.Restaurants h1 {
  padding-top: 50px;
  padding-left: 5%;
}

.BlocRestaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CaseRestaurants {
  border-radius: 20px 20px 20px 20px;
  height: 260px;
  width: 90%;
  background-color: white;
  box-shadow: 0px 12px 10px -5px #eaeaea;
  margin-bottom: 20px;
}
.CaseRestaurants .Img {
  border-radius: 20px 20px 0px 0px;
  height: 180px;
  width: 100%;
  object-fit: cover;
}
.CaseRestaurants .DescRestaurants {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CaseRestaurants .DescRestaurants .TestDesc {
  padding-left: 15px;
}
.CaseRestaurants .DescRestaurants .TestDesc a {
  color: black;
  text-decoration: none;
}
.CaseRestaurants .DescRestaurants .TestDesc a h3 {
  margin-top: 10px;
  margin-bottom: -10px;
}
.CaseRestaurants .DescRestaurants .HeartIcon {
  margin-right: 30px;
  padding-bottom: 10px;
}
.CaseRestaurants .DescRestaurants .HeartIcon .Hover {
  display: none;
}
.CaseRestaurants .DescRestaurants .HeartIcon:hover .Normal {
  display: none;
}
.CaseRestaurants .DescRestaurants .HeartIcon:hover .Hover {
  display: contents;
  color: #9356DC;
  cursor: pointer;
}

main img {
  width: 100%;
}
main .BackgroundMenu {
  background: crimson;
  border-radius: 30px 30px 0 0;
  height: auto;
  margin-top: -70px;
  position: sticky;
  z-index: 2;
}
main .Menu {
  margin-left: 5%;
  margin-right: 5%;
}
main .Menu h1 {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  font-weight: normal;
  margin-right: 5%;
  padding-top: 40px;
}
main .Menu .Entrées .Case {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  height: 65px;
  padding-left: 10px;
  margin-bottom: 15px;
}
main .Menu .Entrées .Case .Titre h4 {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: -8px;
}
main .Menu .Entrées .Case .Titre p {
  font-size: 14px;
}
main .Menu .Entrées .Case .Prix {
  font-size: 15px;
  font-weight: bold;
  padding-top: 25px;
  padding-right: 10px;
}
main .Menu .Entrées .Case .Check {
  display: none;
  height: 65px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
}
main .Menu .Entrées .Case:hover .Check {
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 360deg;
}
main .Menu .Entrées .Case:hover .Check i {
  animation: rotation 1s ease 0s 1 normal forwards;
}

footer {
  background-color: #353535;
  padding-bottom: 40px;
}
footer ul li {
  list-style: none;
}
footer ul li h2 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  padding-bottom: 10px;
}
footer ul li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-bottom: -30px;
}
footer ul li i {
  margin-right: 10px;
}
footer ul li .Proposition {
  padding-left: 7px;
}
footer ul li .MentionsContact h4 {
  font-weight: lighter;
}

/*# sourceMappingURL=style.css.map */
