footer {
    background-color: $color-grey-text;
    padding-bottom: 40px;
    ul {
        li {
            list-style: none;
            h2 {
                @include font-familyShrikhand;
                font-weight: normal;
                padding-bottom: 10px;
                font-size: 22px;
            }
            a{
                @include FlexFlexStartCenter;
                color: white;
                text-decoration: none;
                margin-bottom: -30px;
                font-size: 16px;
            }
            i {
                margin-right: 10px;
            }
            h3 {
                font-size: 16px;
            }
            .Rotate {
                transform: rotate(-45deg);
            }
            .Proposition {
                padding-left: 7px;
            }
            .MentionsContact {
                h3{
                    font-weight: lighter;
                }
            }
            &:hover {
                h3 {
                    text-decoration: underline;
                    font-size: 16px;
                }
            }
        }
    }  
}