footer {
    background-color: $color-grey-text;
    padding-bottom: 40px;
    ul {
        li {
            list-style: none;
            h2 {
                @include font-family;
                font-weight: normal;
                padding-bottom: 10px
            }
            a{
                @include FlexFlexStartCenter;
                color: white;
                text-decoration: none;
                margin-bottom: -30px;
            }
            i {
                margin-right: 10px;
            }
            .Rotate {
                transform: rotate(-45deg);
            }
            .Proposition {
                padding-left: 7px;
            }
            .MentionsContact {
                h4{
                    font-weight: lighter;
                }
            }
            &:hover {
                h4 {
                    text-decoration: underline;
                }
            }
        }
    }  
}