header {
    padding-top: 15px;
    padding-bottom: 10px;
    a {
        @include FlexCenterCenter;
        text-decoration: none;
        i {
            padding-bottom: 5px;
            margin-left: -20%;
            padding-right: 15%;
            color: black;
        }
        img {
            width: 160px;
        }

    }
}

@media screen and (min-width: $breakpoint-desktop) {
    header {
        a {
            i {
                margin-left: -35%;
                padding-right: 32%;
            }
        }
    }
}