$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey-text: #353535;
$color-grey-icon: #7e7e7e;
$color-grey-background: #f6f6f6;
$color-grey-dark-background: #eaeaea;
