main {
    img {
        object-fit: cover;
        width: 100%;
        max-height: 400px;
    }
    .BackgroundMenu {
        background: $color-grey-background;
        border-radius: 30px 30px 0 0;
        height: auto;
        margin-top: -70px;
        position: sticky;
        z-index: 2;
        padding-bottom: 80px;
        margin-bottom: -16px;
    }
    .Menu {
        margin-left: 5%;
        margin-right: 5%;
        h1 {
            @include font-family;
            @include FlexSpaceBetweenCenter;
            font-size: 28px;
            font-weight: normal;
            margin-right: 5%;
            padding-top: 40px;
            .HeartIcon {
                position: relative;
                padding-right: 20px;
                .fa-solid {
                    position: absolute;
                    left: 0;
                    color: transparent;
                }
                &:hover .fa-regular {
                    color: transparent;
                    animation:fondu 1 ease;
                }
                &:hover .fa-solid {
                    cursor: pointer;
                    background-clip: text;
                    -webkit-background-clip: text;
                    background-image: linear-gradient($color-primary, $color-secondary);
                    animation:fondu 1s ease;
                }
        }
    }
        .Card {
            .ENTREES, .PLATS, .DESSERTS {
                h2 {
                    font-size: 18px;
                    font-weight: normal;
                    position: relative;
                    padding-bottom: 10px;
                    &:after {
                        content: "";
                        width: 50px;
                        height: 4px;
                        background-color: $color-tertiary;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }
            }
            .ENTREES {
                animation: ApparitionMenu 0.8s ease 0.5s 1 normal both;
            }
            .PLATS {
                animation: ApparitionMenu 0.8s ease 1.2s 1 normal both;
            }
            .DESSERTS {
                animation: ApparitionMenu 0.8s ease 2s 1 normal both;
            }
            .Plat {
                @include FlexSpaceBetweenCenter;
                background-color: white;
                box-shadow: 0px 12px 10px -5px $color-grey-dark-background;
                border-radius: 15px;
                height: 65px;
                padding-left: 10px;
                margin-bottom: 20px;
                overflow: hidden;
                cursor: pointer;
                .Titre {
                    width: 60%;
                    h3 {
                        font-size: 16px;
                        margin-top: 15px;
                        margin-bottom: -8px;
                        width: 140%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    p {
                        font-size: 14px;
                        width: 140%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
                .Prix {
                    font-size: 15px;
                    font-weight: bold;
                    padding-top: 25px;
                    padding-right: 10px;
                }
                .Check {
                    display: none;
                }
                &:hover {
                    .Titre {
                        h3 {
                            width: 110%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                        p {
                            width: 110%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                    .Prix {
                        margin-right: -10%;
                        animation: Sildeleft 0.5s ease 0s 1 normal forwards;
                    }
                    .Check {
                        @include FlexCenterCenter;
                        height: 65px;
                        width: 65px;
                        border-radius: 0 15px 15px 0;
                        background-color: $color-tertiary;
                        color: white;
                        animation: SildeinRight 0.5s ease 0s 1 normal forwards;
                        i {
                            animation: rotation 1s ease 0s 1 normal forwards;
                        }
                    }
                }
            }
        }
        .Btn-Commander {
            h3 {
                @include FlexCenterCenter;
                border-radius: 25px;
                font-weight: normal;
                width: 210px;
                height: 51px;
                color: white;
                background: linear-gradient(to top left, $color-primary, $color-secondary);
                margin: auto;
                margin-top: 50px;
                box-shadow: 0px 8px 10px -5px $color-grey-icon;
                transition: 0.3s;
                &:hover {
                    cursor: pointer;
                    transition: 0.3s;
                    filter: brightness(105%);
                    box-shadow: 0px 12px 10px -5px $color-grey-icon;
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-tablet) {
    main {
        img {
            max-height: 400px;
            object-position: 30% 70%;
        }
        .Menu {
            .Card {
                h2 {
                    margin-left: 5%;
                }
                .Plat {
                    margin-left: 5%;
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    main {
        img {
            max-height: 500px
        }
        .BackgroundMenu {
            width: 95%;
            margin-left: 2.5%;
        }
        .Menu {
            margin: 0;
            h1 {
                margin-left: 2%;
            }
            .Card {
                display: flex;
                .ENTREES {
                    display: flex;
                    flex-direction: column;
                    width: 35%;
                    h2 {
                        margin-left: 5%;
                    }
                    
                }
                .PLATS {
                    display: flex;
                    flex-direction: column;
                    width: 35%;
                    h2 {
                        margin-left: 5%;
                    }
                    
                }
                .DESSERTS {
                    display: flex;
                    flex-direction: column;
                    width: 35%;
                    h2 {
                        margin-left: 5%;
                    }
                }
            }
        }
    }
}