main {
    img {
        object-fit: cover;
        width: 100%;
        max-height: 400px;
    }
    .BackgroundMenu {
        background: $color-grey-background;
        border-radius: 30px 30px 0 0;
        height: auto;
        margin-top: -70px;
        position: sticky;
        z-index: 2;
        padding-bottom: 80px;
        margin-bottom: -20px;
    }
    .Menu {
        margin-left: 5%;
        margin-right: 5%;
        h1 {
            @include font-family;
            @include FlexSpaceBetweenCenter;
            font-size: 28px;
            font-weight: normal;
            margin-right: 5%;
            padding-top: 40px;
        }
        .Card {
            h3 {
                font-size: 17px;
                font-weight: normal;
            }
            .Plat {
                @include FlexSpaceBetweenCenter;
                background-color: white;
                box-shadow: 0px 12px 10px -5px $color-grey-dark-background;
                border-radius: 15px;
                height: 65px;
                padding-left: 10px;
                margin-bottom: 15px;
                overflow: hidden;
                .Titre {
                    width: 60%;
                    h4 {
                        font-size: 16px;
                        margin-top: 15px;
                        margin-bottom: -8px;width: 100%;
                        white-space: nowrap;
                    }
                    p {
                        font-size: 14px;width: 100%;
                        white-space: nowrap;
                    }
                }
                .Prix {
                    font-size: 15px;
                    font-weight: bold;
                    padding-top: 25px;
                    padding-right: 10px;
                }
                .Check {
                    display: none;
                }
                &:hover {
                    .Titre {
                        h4 {
                            width: 90%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                        p {
                            width: 90%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                    .Prix {
                        animation: Sildeleft 0.5s ease 0s 1 normal forwards;
                    }
                    .Check {
                        @include FlexCenterCenter;
                        height: 65px;
                        width: 65px;
                        border-radius: 0 15px 15px 0;
                        background-color: $color-tertiary;
                        color: white;
                        rotate: 360deg;
                        animation: SildeinRight 0.5s ease 0s 1 normal forwards;
                        i {
                            animation: rotation 1s ease 0s 1 normal forwards;
                        }
                    }
                }
            }
        }
        .Btn-Commander {
            h3 {
                @include FlexCenterCenter;
                border-radius: 25px;
                font-weight: normal;
                width: 210px;
                height: 51px;
                color: white;
                background: linear-gradient(to top left, $color-primary, $color-secondary);
                margin: auto;
                margin-top: 50px;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-tablet) {
    main {
        .BackgroundMenu {
        background: green;
    }
        img {
            max-height: 400px;
            object-position: 30% 70%;
        }
        .Menu {
            .Card {
                h3 {
                    margin-left: 2%;
                }
                .Plat {
                    margin-left: 5%;
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    main {
        .BackgroundMenu {
            background: crimson;
        }
        img {
            max-height: 500px
        }
        .Menu {
            margin: 0;
            h1 {
                margin-left: 2%;
            }
            .Card {
                display: flex;
                .ENTREES {
                    display: flex;
                    flex-direction: column;
                    width: 35%;
                    h3 {
                        margin-left: 5%;
                    }
                    .Plat {
                        .Titre {
                            width: 90%;
                        }
                    }
                }
                .PLATS {
                    display: flex;
                    flex-direction: column;
                    width: 35%;
                    h3 {
                        margin-left: 5%;
                    }
                    .Plat {
                        .Titre {
                            width: 90%;
                        }
                    }
                }
                .DESSERTS {
                    display: flex;
                    flex-direction: column;
                    width: 35%;
                    h3 {
                        margin-left: 5%;
                    }
                    .Plat {
                        .Titre {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}