.Explore {
    display: flex;
    flex-direction: column;
    background-color: $color-grey-background;
    padding-bottom: 50px;
     h1 {
        font-size: x-large;
        padding-top: 20px;
     }
     p {
         color: $color-grey-text;
         margin-top: -5px;
     }
     h1, p {
         text-align: center;
         margin-left: 12%;
         margin-right: 12%;
     }
     
    .Btn-Explore {
        @include FlexCenterCenter;
        border-radius: 25px;
        width: 210px;
        height: 51px;
        color: white;
        background: linear-gradient(to top left, $color-primary, $color-secondary);
        margin: auto;
        box-shadow: 0px 8px 10px -5px $color-grey-icon;
        transition: 0.3s;
        &:hover {
            cursor: pointer;
            transition: 0.3s;
            filter: brightness(105%);
            box-shadow: 0px 12px 10px -5px $color-grey-icon;
        }
    }
}