.Restaurants {
    background-color: $color-grey-background;
    margin-bottom: -16px;
    h2 {
        padding-top: 50px;
        padding-left: 5%;
    }
}
.BlocRestaurants {
    @include FlexColumnCenterCenter;
}
.CaseRestaurants {
    border-radius: 20px 20px 20px 20px;
    height: 260px;
    width: 90%;
    background-color: white;
    box-shadow: 0px 12px 10px -5px $color-grey-dark-background;
    margin-bottom: 20px;
    transition: 0.2s;
    position: relative;
    .Img {
        border-radius: 20px 20px 0px 0px;
        height: 180px;
        width: 100%;
        object-fit: cover;
    }
    .Tag {
        background: $color-tertiary;
        color: #3b8468;
        padding: 10px 20px;
        border-radius: 5px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .DescRestaurants {
        @include FlexSpaceBetweenCenter;
        .TestDesc {
            padding-left: 15px;
            a {
                color: black;
                text-decoration: none;
                h3 {
                    font-size: 18px;
                    margin-top: 10px;
                    margin-bottom: -10px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .HeartIcon {
            margin-top: -10px;
            padding-right: 20px;
            .fa-regular {
                position: absolute;
                font-size: 30px;
            }
            .fa-solid {
                position: relative;
                font-size: 30px;
                color: transparent;
                background-image: linear-gradient($color-primary, $color-secondary);
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 200ms ease-in-out;
                &:hover {
                    cursor: pointer;
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }
    }
    &:hover {
        transform: scale(1.015);
        transition: 0.2s;
        box-shadow: 0px 12px 30px -5px $color-grey-icon;
    }
}

@media screen and (min-width: $breakpoint-tablet) {
    .BlocRestaurants {
        @include FlexRowWrap;
        .CaseRestaurants {
            width: 44%;
            margin-right: 2%;
            margin-left: 2%;
            margin-bottom: 4%;
        }
    }
}


@media screen and (min-width: $breakpoint-desktop) {
    .Restaurants {
        h2 {
            padding: 1%;
        }
        .BlocRestaurants {
            @include FlexRowNoWrap;
            .CaseRestaurants {
                height: auto;
                margin-left: 1%;
                margin-right: 1%;
                .Img {
                 height: 200px;
                }
            }
        }
    }
}



