.Restaurants {
    background-color: $color-grey-background;
    h1 {
        padding-top: 50px;
        padding-left: 5%;
    }
}

.BlocRestaurants {
    @include FlexColumnCenterCenter;
}
.CaseRestaurants {
    border-radius: 20px 20px 20px 20px;
    height: 260px;
    width: 90%;
    background-color: white;
    box-shadow: 0px 12px 10px -5px $color-grey-dark-background;
    margin-bottom: 20px;
    transition: 0.2s;
    .Img {
        border-radius: 20px 20px 0px 0px;
        height: 180px;
        width: 100%;
        object-fit: cover;
    }
    .DescRestaurants {
        @include FlexSpaceBetweenCenter;
        .TestDesc {
            padding-left: 15px;
            a {
                color: black;
                text-decoration: none;
                h3 {
                    margin-top: 10px;
                    margin-bottom: -10px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .HeartIcon {
            margin-right: 30px;
            padding-bottom: 10px;
            .Hover {
                display: none;
            }
            &:hover {
                .Normal {
                    display: none;
                }
                .Hover {
                    display: contents;
                    color: $color-primary;
                    cursor: pointer;
                }
            }
            
        }
    }
    &:hover {
        transform: scale(1.015);
        transition: 0.2s;
    }
}

@media screen and (min-width: $breakpoint-tablet) {
    .BlocRestaurants {
        @include FlexRowWrap;
        .CaseRestaurants {
            width: 44%;
            margin-right: 2%;
            margin-left: 2%;
            margin-bottom: 4%;
        }
    }
}


@media screen and (min-width: $breakpoint-desktop) {
    .BlocRestaurants {
        .CaseRestaurants {
            height: auto;
            .Img {
                height: 300px;
            }
        }
    }
}



