@mixin FlexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin FlexCenterBaseline {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

@mixin FlexColumnCenterCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin FlexSpaceBetweenCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}