@mixin FlexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin FlexCenterBaseline {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

@mixin FlexColumnCenterCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin FlexSpaceBetweenCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin FlexSpaceAroundCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin FlexFlexStartCenter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin FlexFlexStartBaseline {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}

@mixin FlexRowWrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@mixin font-family {
    font-family: 'Shrikhand', cursive;
}

@keyframes SildeinRight {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes Sildeleft {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;