@mixin FlexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin FlexCenterBaseline {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

@mixin FlexColumnCenterCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin FlexSpaceBetweenCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin FlexSpaceAroundCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin FlexFlexStartCenter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin FlexFlexStartBaseline {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}

@mixin FlexRowWrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@mixin FlexRowNoWrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

@mixin font-family {
    font-family: 'Shrikhand', cursive;
}

$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;